<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The list of relatives in DB</h1>
    <hr></hr>
    <ul>
        {% for person in relatives %}
            <li>Id: {{relatives.id_relative}}</li>
            <li>Name: {{relative.name}}</li>
            <li>Last Name: {{relative.last_name}}</li>
            <li>Birth: {{relative.birth_date}}</li>
        {% endfor %}
    </ul>
</body>
</html>

